header{
    width: 100%;
    height: fit-content ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    margin-bottom: 20px;
    background-color: #F7F7F9;
}

.user-info{
    display: flex;
    align-items: center;
    gap: 10px;
    width: fit-content;
    height: fit-content;
}

.user-info > p {
    width: 75%;
    font-weight: 600;
}


